node_modules/
dist/
build/
.cache/
.env*
.vite/
vite.config.*.timestamp-*
*.tsbuildinfo
*-debug.log*
logs/
*.log
.claude-replay.*
.tmp-*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
